.card_container {
  display: flex;
  width: fit-content;
  flex-direction: column;  
}

.card_container h1 {
 font-size: 16px;
 line-height: 18px;
 margin-top: 10px;
 font-weight: 600;
 color: #212121;
}

.card_container p {
 margin-top: 5px;
 font-size: 16px;
 font-weight: 400px;
}

div.button {
  /* border: solid red 2px; */
  display: flex;
  align-items: center;
  width: 48px;
  height: 24px;
  background-color: #FFF;  
}

.lixeira{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid blue 2px; */
  width: 24px;
  height: 24px;
  background-color: #FFF;

}

.editar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid orangered 2px; */
  width: 24px;
  height: 24px;
  background-color: #FFF;
  margin-left: 4px;
  
}

.card_container div {
  margin-top: 10px;
}

.card_container > img {
  width: 280px;
  height: 280px;
}