:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: #212121;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
}

input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #424242;
  box-sizing: border-box;
  color: #212121;  
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border: 0;
  cursor: pointer;
}

button.primary{
  background-color: rgb(33, 33, 33);
}

button.return{
  background-color: #fff;
  color: #212121;
}

button.primary:hover {
  background-color: rgba(33, 33, 33, 0.8)
}

button:disabled {
  background-color: gray;
  color: #fff;
}
