.naver_avatar_modal {
  display: flex;
  justify-content: center;


  width: 1006px;
  height: 503px;
  margin: auto;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.lixeira{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #FFF;
}

.editar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #FFF;
  margin-left: 4px;  
}

